
<footer class="page-footer teal accent-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Magik.me</h5>
        <p class="grey-text text-lighten-4">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Partners</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">x</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">yyy</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">zzzzzz</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Magik.me
     <%= link_to "About", pages_about_path, :class => "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>
